extends layout

block content
  .jumbotron.showcase
    .container
      h1 #{title}
      p.lead The best sports articles around the world!
  .container
    .row
      .col-md-12
        each article, i in articles
          h2.post-title #{article.title}
